// pages/_contact.scss
.contact {
  background-color: #fff;
  color: #333;
  padding: 1.25rem; // 20px
}

.contact h1 {
  font-size: 1.5rem; // 24px
  margin-bottom: 0.625rem; // 10px
}

.contact p {
  font-size: 1rem; // 16px
  line-height: 1.6;
}