// layout/_grid.scss
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem; // 20px
}

.grid__item {
  background-color: #f2f2f2;
  padding: 1.25rem; // 20px
  border: 0.0625rem solid #ccc; // 1px
  border-radius: 0.3125rem; // 5px
}