.header {
  background-color: #3C3C3C;
  color: #fff;
  padding: 1.25rem; // 20px
  text-align: center;
  margin-bottom: 1.25rem; // 20px
}

.header a {
  color: #D1703D;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}