.header {
    background-color: #3c3c3c;
    color: #fff;
    padding: 1.25rem; // 20px
    text-align: center;
    margin-bottom: 1.25rem; // 20px
}

.header a {
    color: #d1703d;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}
