// components/_cover.scss
.cover {
  position: relative;
  height: 18.75rem; // 300px
  background-size: cover;
  background-position: center;
}

.cover__caption {
  position: absolute;
  bottom: 1.25rem; // 20px
  left: 1.25rem; // 20px
  color: white;
  font-size: 1.5rem; // 24px
}