// components/_form.scss
.form {
    width: 100%;
    margin: 0.625rem 0; // 10px
    padding: 0.625rem; // 10px
    border: 0.0625rem solid #ccc; // 1px
    border-radius: 0.3125rem; // 5px
}

.input {
    display: block;
    width: 100%;
    padding: 0.3125rem; // 5px
    margin-bottom: 0.625rem; // 10px
    border: 0.0625rem solid #ccc; // 1px
    border-radius: 0.1875rem; // 3px
    font-size: 0.875rem; // 14px
}
