.StyledButton {
  box-shadow: 'none';
  text-transform: 'none';
  font-size: 16;
  padding: '6px 12px';
  border: '1px solid';
  background-color: 'black';

  &:hover {
    background-color: 'white';
      border-color: 'black';
      color: 'black'
  }
}