/* Cores */
$color-text: #525252;
$color-link: #806ecf;
$color-title: #525252;
$color-highlight: #a194dd;
$color-button: #5f49c1;
$color-icon: #5f49c1;
$color-header: #a194dd;
$color-body: #f9efd4;
$color-footer: darken($color-header, 15%);