/* Cores */
$color-text: #525252;
$color-link: #00bf99c4;
$color-title: #525252;
$color-highlight: #00bf998a;
$color-button: #00bf98;
$color-icon: #00bf98;
$color-header: #00bf998a;
$color-body: #e2e2e296;
$color-footer: darken($color-header, 15%);
