/* Tipografia */
$font-title: 'Roboto', serif;
$fonte-sans-serif: 'Roboto', sans-serif;
$fonte-serif: 'Playfair Display', serif;
$tamanho-base-fonte: 1rem; // 16px
$line-height: 1.6;
$heading-font-weight: bold;
/* ... outras variáveis de tipografia */

/* Aplicando as fontes ao corpo da página e aos títulos */
body {
    font-family: $fonte-sans-serif;
    line-height: 1.5;
    background-color: $cor-fundo;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
    font-weight: bold;
}

/* Estilização de fontes específicas */
p {
    font-size: 1rem; // 16px
    line-height: 1.5;
}

a {
    color: $cor-link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 2rem; // 32px
    color: $cor-titulo;
}

h2 {
    font-size: 1.75rem; // 28px
    color: $cor-titulo;
}

h3 {
    font-size: 1.5rem; // 24px
    color: $cor-texto;
}

h4 {
    font-size: 1.25rem; // 20px
    color: $cor-texto;
}

h5 {
    font-size: 1.125rem; // 18px
    color: $cor-texto;
}

h6 {
    font-size: 1rem; // 16px
    color: $cor-texto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
