@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

// Tipografia
$font-default: 'Nanum Gothic', sans-serif;

H1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    line-height: 1.6;
}

h1 {
    font-family: $font-default;
    font-weight: 800;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem; // 20px
    font-family: $font-default;
    font-weight: 700;
}

h3 {
    font-size: 1.125rem; // 18px
    font-family: $font-default;
    font-weight: 700;
}

h4 {
    font-size: 1rem; // 16px
    font-family: $font-default;
    font-weight: 400;
}

h5 {
    font-size: 0.875rem; // 14px
    font-family: $font-default;
    font-weight: 400;
}

h6 {
    font-size: 0.75rem; // 12px
    font-family: $font-default;
    font-weight: 400;
}

p {
    font-size: 1rem; // 16px
    font-family: $font-default;
    font-weight: 400;
}

a {
    color: $cor-link;
    text-decoration: none;
    font-family: $font-default;
    font-weight: 700;

    &:hover {
        text-decoration: underline;
    }
}